<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vue Email List</title>
        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
        <!-- AJAX -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <!-- VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="root">
            <div v-for="element in email" v-if="email.length == 10">
                {{ element }}
            </div>
        </div>
        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
