* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #88d8c0;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: #29ab87;
    margin: 20px 0;
}

#root div{
    margin: 10px 0;
    border: 2px solid #29ab87;
    padding: 10px;
}
